/*
 * dolphins.css
 */

body {
  overflow-x: hidden;
}

header {
  background-image: url('../images/dolphins-frontmedium.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: right;
  color: black;
}
header .intro-text {
  padding-top: 210px;
  padding-bottom: 210px;
  min-height: 420px;
}
header .intro-text .intro-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin: 0px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.5);
}
@media (min-width: 768px) {
  header .intro-text {
    text-align: right;
    padding-top: 250px;
    padding-bottom: 250px;
    min-height: 500px;
  }
  header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin: 0px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
  }
}
@media (min-width: 1200px) {
  header {
    background-image: url('../images/dolphins-frontwide.jpg');
  }
  header .intro-text {
    text-align: right;
    padding-top: 500px;
    min-height: 1000px;
  }
  header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin: 0px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
  }
}
